@model VideoWorld.ViewModels.NewMovieViewModel

@{
    ViewBag.Title = "Add Movie";
}

<h2>Add Movie</h2>
<label class="error">@Model.ErrorMessage</label>
<div class="addMovie_form">
 <form method="post" action="/admin/newmovie">
        <div> <label for="director"> Movie Title: </label> <input type="text" name="title" value="@Model.Title"/></div> 
        @if (Model.ShowDetailedMovies)
        {
            <div> <label for="director">Director: </label><input type="text" name="director" value="@Model.Director"/></div> 
            <div> <label for="actor">Actor: </label><input type="text" name="actor" value="@Model.Actor"/></div> 
            <div> <label for="actress">Actress: </label><input type="text" name="actress" value="@Model.Actress"/></div> 
            <div> <label for="category">Category: </label><input type="text" name="category" value="@Model.Category"/></div>
        }
        <input type="submit" name="addNewMovie" class="addNewMovie" value="Create" />
    </form>
</div>

    
