@model VideoWorld.Models.HomePageModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="cart">
   @Model.Cart.Count item(s) in your cart.
</div>

<table class="movies">
@foreach (var item in Model.Movies) {    
    <tr class="movie">
        <td class="title">@item.Title</td>
        <td>
            <form method="post" action="/cart">
                <input type="hidden" name="title" value="@item.Title"/>
                <select name="numberOfDays">
                    @for (int i = 1; i <= 7; i++)
                    {
                    <option value="@i">@i @((i==1) ? "day" : "days")</option>
                    }
                </select>
                <input type="submit" class="addToCart" name="addToCart" value="Add"/>
            </form>
        </td>
    </tr>
}
</table>